.headerCubosMovie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 25px;
    background: #12111380;
    border-bottom: 1px solid #F1E6FD30;
}

.iconsContent {
    display: flex;
    gap: 10px;
}

.logoutButton {
    font-family: var(---font-roboto);
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    background-color: #8E4EC6;
    border-radius: 2px;
    border: transparent;
    padding: 12px 20px;
}


@media (max-width: 1024px) {

    .headerCubosMovie {
        padding: 0 15px;
    }

    .cubosLogo img {
        opacity: 0;
    }

    .cubosLogo {
        content: "";
    }

    .cubosLogo::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/frontend/public/cubos-logo-mob.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}