.headerCubosMovie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background: #12111380;
    border-bottom: 1px solid #F1E6FD30;
}

.iconsContent {
    display: flex;
    gap: 10px;
}

.logoutButton {
    font-family: var(---font-roboto);
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    background-color: #8E4EC6;
    border-radius: 2px;
    border: transparent;
    padding: 12px 20px;
}


@media (max-width: 414px) {
  .cubosLogo {
   width: 100px;
  }
}